<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zetman_BannerSlider::banners_slider" title="BannerSlider" translate="title" module="Zetman_BannerSlider" sortOrder="20" resource="Zetman_BannerSlider::banners_slider" dependsOnModule="Zetman_BannerSlider"/>
        <add id="Zetman_BannerSlider::all_banners" title="All Banners" translate="title" module="Zetman_BannerSlider" sortOrder="10" resource="Zetman_BannerSlider::all_banners" parent="Zetman_BannerSlider::banners_slider" action="zetman_banners_slider/banner/index" dependsOnModule="Zetman_BannerSlider"/>
        <add id="Zetman_BannerSlider::all_groups" title="All Groups" translate="title" module="Zetman_BannerSlider" sortOrder="10" resource="Zetman_BannerSlider::all_groups" parent="Zetman_BannerSlider::banners_slider" action="zetman_banners_slider/group/index" dependsOnModule="Zetman_BannerSlider"/>
    </menu>
</config>
